/* 
.ganache {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position: relative;
   }
   
   .ganache:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
   
   .ganache h3 {
    margin: 0;
    padding: 0;
    color: #333;
   }
   
   .ganache p {
    color: #666;
   }
   
   .ganache-image {
    width: 100%;
    height: auto;
   } */

   /* .salah{

    font-size: 34px;
    line-height: 4.5;
   } */
   .AllCard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    gap:40px
  }
